* {
	margin:0;
	font-family: Market Deco;
}

body{
	display:flex;
	align-items: center;
	flex-direction: column;
}

.content{
	height:50vh;
	width:80%;
	margin-top: 2%;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
	background:#F2F2F2;
	box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
}

.content .imgBox{
	height:40vh;
	width:40vh;
	display:flex;
	justify-content: center;
	align-items: center;
	position:relative;
	overflow:hidden;
	border:solid;
}

.imgBox img{
	position:absolute;
	height:45vh;
}

.content .description{
	height:40vh;
	width:50vh;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.description h1{
	font-size: 5vh;
}
.description p{
	height:20vh;
	width:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color:gray;
	text-align: center;
	font-size: 3vh;
}

.buttons {
	display: flex;
	flex-direction: row;
}

.testo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.testo h4 {
	font-size: 25px;
	text-align: center;
	padding: 15px;
}

.info {
	padding: 15px;
}

.buttons a {
	padding: 20px;
}

.indietro{
	color: black;
	text-decoration: none;
	border-radius: 5px;
	border:none;
	background-color: white;
	font-size: 16px;
	height: 40px;
	width: 80px;
	text-align: center;
	vertical-align: middle;
}

.indietro:hover {
	color: white;
	background-color: red;
}

.inserisci {
	color: black;
	text-decoration: none;
	border-radius: 5px;
	border:none;
	background-color: white;
	font-size: 16px;
	height: 40px;
	width: 80px;
	text-align: center;
	vertical-align: middle;
}

.inserisci:hover {
	color:white;
	background-color: #00FF7F;
}

#img img {
	max-width: 80%;
	padding: 25px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
 