* {
	margin:0;
	font-family: Market_Deco;
}

body{
	display:flex;
	flex-direction: column;
	
}

section {
	margin:auto;
	padding: 50px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width:100%;
	border:solid;
}
.box{
	display:flex;
	flex-direction: column;
	align-items: center;
	
	width:60%;
	font-size: 1.5em;
	
}
.row{
	width:100%;
	margin: 2% 0;
	height:10vh;
	display:flex;
	align-items: center;
	justify-content: space-evenly;
}

.row a{
	height:10vh;
	width:100%;
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	color:black;
	text-decoration: none;
	margin-top: 1vh;
}

.row a .boxImg {
	height: 10vh;
	width: 11.5vh;
	position:relative;
	display:flex;
	align-items: center;
	justify-content: center;
	overflow:hidden;
}

.row a .boxImg img{
	position: relative;
	height:10vh;
}

.row p{
	font-size: 2vh;
	height:100%;
	width:30%;
	text-align: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	color:gray;
}
.ricapitolo
{
	border:solid;
	display:flex;
	flex-direction: column;
	border:solid;
	border-radius: 12px;
	width:20%;
	height:auto;
}
.lineeOrdine ul
{
	background-color: lightgray;
	border: solid;
	border-width: 1px;
}
.ricapitolo h1
{
	text-align: center;
	font-size: 1.2em;
	padding:2vh;
}

h1{
	margin-top:2%;
}
.prodotti h1 {
	padding-bottom: 10px;
	font-size: 40px;
	text-align: left;
}

.prod {
	padding: 12.5px;
}

ul li a {
	text-decoration: none;
	color: black;
}

ul li a:hover {
	color: #A9A9A9;
}

li {
	padding: 10px 0px;
}

.totale {
	padding-top: 15px;
	text-align: center;
}

.buttons {
	padding: 20px;
}

#back button[type=button]{
	color: black;
	text-decoration: none;
	border-radius: 5px;
	border:none;
	background-color: white;
	font-size: 16px;
	height: 40px;
	width: 80px;
	text-align: center;
	vertical-align: middle;
}

#back button[type=button]:hover {
	color: white;
	background-color: red;
}

.open-button {
	color: black;
	text-decoration: none;
	border-radius: 5px;
	border:none;
	background-color: white;
	font-size: 16px;
	height: 40px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
}

.open-button:hover {
	color:white;
	background-color: #00FF7F;
}

.row a:hover label {
	color: gray;
}

.row a:hover img {
	height: 110%;
	width: auto;
}
 