<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
* {
	margin: 0;
	font-family: adobe-gothic-std, sans-serif;
}

section {
	padding: 50px 25px 25px 150px;
}

.title p {
	text-align: center;
	font-size: 30px;
}

.box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

.info {
	width: 350px;
	font-size: 18.5px;
	padding: 40px 20px 20px 150px;
}

.element {
	padding: 5px;
}

.element a {
	text-decoration: none;
	color: black;
}

.element a:hover {
	text-decoration: none;
	color: #A9A9A9;
}


</style>
<head th:replace="fragments/fragment.html :: head(title='Pagina admin')">
	<link rel="icon" href="/images/svg/logo.svg" type="image/icon type">
</head>
<body>
   <nav th:replace="fragments/fragment.html :: intestazione"></nav>
   
   <section th:if="${admin}" th:object="${admin}">
   	<div class="title">
   		<p><b>Pagina Personale dell'Amministratore: </b><b th:text="*{nome} + ' ' + *{cognome}">Mario De Lillo</b></p>
   	</div>
   	<div class="box">
   	<div class="info">
   		<div class="element">
   			<b>Nome: </b><span th:text="*{nome} + ' ' + *{cognome}">Nome e Cognome</span> 
   		</div>
   		<div class="element">
   			<b>E-mail: </b><span th:text="*{email}">email</span> 
   		</div>
   		<div class="element">
   			<b>Telefono: </b><span th:text="*{telefono}">telefono</span> 
   		</div>
   	</div>
   	<div class="info">
   		<div class ="element">
   			<a href="inserimento" th:href="@{/admin/tipoCampo}"
   				th:text="#{tendina.inserimentoTipoCampo}">Inserisci una nuova tipologia di campo</a>
   		</div>
   		<div class ="element">
   			<a href="/#" th:href="@{/#}" 
				th:text="#{tendina.inserimentoTipoAbbonamento}">Inserisci un nuovo abbonamento</a>
   		</div>
   		
   		</div>
   	</div>
   </section>
</body>
</html>