
#piePagina
{
	height: 20%;
	width: 50%;
	
	margin-top: 0%;
	margin-left: 20%;
}

#orario
{
	appearance:button;
	border:none;
	text-align: center;
	color:black;
}
#back
{
	appearance:button;
	text-align: center;
	border:none;
	color:black;
}
#consegna
{ 
	appearance:button;
	text-align: center;
	border:none;
	color:black;
	font-family: Market Deco;
}
#open
{ 
	text-align: center;
	border:none;
	color:black;	}

.bottone
{
	height: auto;
	width:auto;
	margin-right: 5vh;
	border-radius: 20px;
	padding:2vh;
	font-size: 1.2em;
	text-decoration: none;
	border-color:black;
	background-color:white;
}
.bottone:hover
{
	
	box-shadow: 0px 3px 2px 0;
	
	
 	transition: 0.3s; 
}
#orario:hover
{
	color:white;
	background-color:  #ffdf6cff;
}
#back:hover
{
	color:white;
	background-color:  rgb(255, 71, 26);
}
#open:hover
{
	background-color:   rgb(51, 255, 51);
	color:white;
}
.sectionPp
 {
 	height: 40%;
 	width: 100%;
 	text-align: center;
 	align-items: center;
 	justify-content: center;
 	flex-direction: column;
 	border-radius: 20px 20px 0 0;
 	padding-top: 5vh;
 	font-size: 1.2em;
 	background-color: #ffdf6cff;
 }
 
 #closeForm
 {
  appearance: button;
  font-size: 1em;
  padding: 9px 27px;
 	border-radius: 12px;
  z-index: 1;
 }
 #closeForm:hover
 {
 	color: white;
 	background-color: rgb(255, 71, 26);
 }
 #img
 {
 	height: 40%;
 	width: 100%;
 	
 	align-items: center;
 	background-color: #ffdf6cff;
  }
 #imgConf
 {
 	height: 50%;
 	width: 30%;
 	margin-left: 38%;
 	margin-top: 6%;
 }
  .footer
 {
 	
 	
	height:25%;
	width:100%;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color:white;
	box-shadow: 0px 3px 2px 0 rgba(0,0,0,0.24), 0 0px 50px 0 rgba(0,0,0,0.19);
}
.btn
 {
 	appearance: button;
    
    font-size: 1em;
    border-radius: 12px;
    width:30%;
    height:20%;
    z-index: 1;
    margin-bottom: 0;
    margin-bottom: 3vh;
}
.footerElim
 {
 	
 	
	height:10vh;
	width:100%;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color:white;
	box-shadow: 0px 3px 2px 0 rgba(0,0,0,0.24), 0 0px 50px 0 rgba(0,0,0,0.19);
}
.btnElim
{
	text-decoration: none;
	font-size: 1em;
	color:black;
	margin-right: 5vh;
	margin-left:5vh;
	
}
.btnElim:hover
{
	font-size: 1.1em;
	transition:0.2s;
}