body
{
	font-family: Market Deco;
  margin-left:0;
  
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

}
head
{
  height: 100%;
  width: 100%;
  margin-top:0;
}

#title
{
 border-bottom: solid;
 border-width: 2px;
  font-size: 2em;
  margin-left: 5%;
  margin-top: 4vh;
  height: 10%;
}

.nonModificabili
{
  color: rgb(179, 179, 179);
}


 .clock {
  border: none;
  
  font-size: 14px;
  font-family: helvetica;
  width: 8%;
  height: 2em;
  border-radius: 10%;
  border-style: solid;
  margin-left: 2%;

  
}

/* contenitore attorno a ai diversi oggetti (ora, minuti, am/pm e la x per reset)*/
.clock::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  justify-content: space-between;
  height: 200%;
  width: 100%;

}

/* spazio tra le componenti i due punti*/
.clock::-webkit-datetime-edit-text {
  font-size: 2em;
  height: 100%;
  width: 10%;
 
}

/* Il  nome convenzionale per ogni singolo componente (ora, minuto...)
`-webkit-datetime-edit-{field}-field` */

/* Ore */
.clock::-webkit-datetime-edit-hour-field {
  font-size: 2em;
  border-radius: 15%;
  height: 100%;
  width: 40%;
 
  text-align: center;
 
}

/* Minuti*/
.clock::-webkit-datetime-edit-minute-field {
  font-size: 2em;
  border-radius: 15%;
  height: 100%;
  width: 40%;
  text-align: center;
 }

/* AM/PM */
.clock::-webkit-datetime-edit-ampm-field {
  
  border-radius: 15%;
  
  
}

/* 'X' per resettare */
.clock::-webkit-clear-button {
  display: none;
}

/* frecce sue e giu*/
.clock::-webkit-inner-spin-button {
  display: none;
}
/*L'orologio*/
.clock::-webkit-calendar-picker-indicator 
{

 font-size: 1em;  
   
}

#elements
{
  
  margin-top: 5vh;
}

#elements li
{
  list-style-type: none; /*rimozione dei bullet point della lista*/
  padding: 15px;
  margin-left: 5%;
  margin-right: 10%;
}
#Pianifica
{
  margin-left: 3%;
}

   

.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
    
}

.submit {
  margin-left: 8%;
  margin-right: 20px;
  
  background-color: white;
  border: none;
  height: 50px;
  font-size: 15px;
  width: 150px;
  margin-right: 10vh;
  font-size: 1.3em;
  
}

.submit:hover {
  
  
  border-radius: 10px;

}
#conferma
{
  
  height:55px;
  color:  rgb(51, 255, 51);

}
#conferma:hover
{
  background-color: rgb(51, 255, 51);
  color:white;
}

#goBack 
{
  
  appearance:button;
  text-align: center;
  
  width: 210px;  
  height: 80px;
  align-items: flex-start;
  padding-top:1.2vh;
  text-decoration: none;
  color:red;
}

#goBack:hover {
  background-color: red;
  
  color: white;
}
#commento
{
	height:10vh;
	width:50vh;
	text-align: left;
	padding: 0px;
}
.errors
{
	font-size: 1em;
	color:red;
}



