* {
	font-family: Market Deco;
}

body {

	font-family: adobe-gothic-std, sans-serif;
	font-style: normal;
	font-size: 1.2em;
	display:flex;
	flex-direction: column;
}
header
{
	padding-left: 12vh;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

h2 {
	padding: 25px 10px 0px 10px;
	font-size: 35px;
}


form {
	padding: 10px 25px;
	margin-left: 3vh;
}

ul
{
	margin-top:0px;
	padding: 0;
	list-style-type: none;
	margin-left: 0px;	
}
li
{
	margin-left: 0px;
	margin-top: 1vh;
}
a {
	
	text-decoration: none;
	color: black;
}
#newDom
{
	color:gray;
	margin-left: 2vh;
	font-size: 1em;
	margin-top: 0;
}

#newDom:hover {
	text-decoration: none;
	color:	rgb(51, 51, 51);
	transition: 0.2s;
}

.box {
	display:flex;
	flex-direction: column;
	align-items: left;
}
.title
{
	margin-top:-2vh;
}
.title h2
{
	margin-bottom: 0;
	font-size: 2em;
	border-bottom: solid;
	border-width: 1px;
	
}

#form
{
	margin-top: 0;

	font-size: 1.3em;
}
.buttons {
	display: flex;
	flex-direction: row;
	margin-top: 5vh;
    
}

button[type=submit] {
   margin-left: 8%;
  margin-right: 20px;
  
  background-color: white;
  border: none;
  height: 50px;
  font-size: 15px;
  width: 180px;
  margin-right: 10vh;
  font-size: 1.3em;
  cursor:pointer;
  color:  rgb(51, 255, 51);
}

button[type=submit]:hover {
  background-color: rgb(51, 255, 51);
  color:white;
  border-radius: 10px;
}

button[type=button] {
  margin-left: 8%;
  margin-right: 20px;
  
  background-color: white;
  border: none;
  height: 50px;
  font-size: 15px;
  width: 150px;
  margin-right: 10vh;
  font-size: 1.3em;
  cursor:pointer;
  color:red;
}


button[type=button]:hover {
	background-color: red;
	color: white;
	border-radius: 10px;
}


ul li a {
	color:gray;
	font-size: 3vh;
	transition:0.2s;
}

ul li a:hover{
	color: black;
}

.add {
	padding: 15px 10px;
}

.add a:hover {
	color: gray;
}
